
# Block entity type injection
public-f net.minecraft.world.level.block.entity.BlockEntityType validBlocks # validBlocks

#Level Inject
#public net.minecraft.world.level.Level getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter; #getEntities